<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>SenCare- Homepage</title>
        <link rel="stylesheet" href="../static/css/home.css">
        <link rel="stylesheet" href="../static/css/nav.css">
        <link rel="stylesheet" href="../static/css/videofeed.css">
    </head>

<body>
    <header class="header">
        <div class="navbar" id="navbar">
            <div class="logo" id="logo">
                <!-- Logo -->
                <img src="../static/media/images/SenCare-removebg.png" alt="SenCare">
            </div>
            <ul class="items">
                <li><a class="active" href="">Dashboard</a></li>
                <li><a href="">List of Clients</a></li>
                <div class="clients">
                    <!-- <ul class="cli-list">
                        <li><a href="">C1</a></li>
                        <li><a href="">C2</a></li>
                        <li><a href="">C3</a></li>
                        <li><a href="">C4</a></li>
                        <li><a href="">C5</a></li>
                    </ul> -->
                </div>
                <li><a href="">Profile</a></li>
                <li><a href="">Alerts</a></li>
                <li>
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <div class="bars" onclick="iconbar(this)">
                            <div class="bar1"></div>
                            <div class="bar2"></div>
                            <div class="bar3"></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        
    </header>

    <div class="pop-container">
        <div class="alert">
            <!-- <button type="submit" onclick="openPopup()">Submit</button> -->
            <div class="pop-up" id="popup">
                <img src="../static/media/images/icon/notification.png" alt="">
                <h2>Emergency Alert</h2>
                <p>Received an alert. Visit Urgenetly.</p> 
                <p id="frame"></p>
                <button type="button" onclick="closePopup()">OK</button>
            </div>
        </div>
    </div>
<audio id="xyz" src="../static/media/mixkit-vintage-warning-alarm-990.wav" preload="auto"></audio>
<audio id="xyz2" src="../static/media/mixkit-vintage-warning-alarm-990.wav" preload="auto"></audio>

<script>
    var sound1 = new Audio('../static/media/mixkit-vintage-warning-alarm-990.wav')
    var sound2 = new Audio('../static/media/mixkit-vintage-warning-alarm-990.wav')
	
    res1 = '{{ res1 }}'
    res2 = '{{ res2 }}'
    let popup = document.getElementById("popup");
    function openPopup(){
            popup.classList.add("openPopup")
        }
    function closePopup(){
            popup.classList.remove("openPopup");
        }

    if (res2 == 'detected2' && res1=='detected') 
    {
        sound2.play();
	//document.getElementById("popup").style.display = 'block';
        // alert("Fall detected in frame 2");
        document.getElementById("frame").innerHTML = "Frame 2"
        openPopup();
        setTimeout(() => { window.location.href = "http://127.0.0.1:5000/home?flag2=display&flag1=display"; },5000);
    }  
    else if (res1 == 'detected')
    {
        sound2.play();
        // alert("Fall detected in frame 1");
        // demo();
        document.getElementById("frame").innerHTML = "Frame 1"
        openPopup();
        setTimeout(() => {  window.location.href = "http://127.0.0.1:5000/home?flag1=display"; }, 12000);
        // window.location.href = "http://127.0.0.1:5000/home?flag1=display";
    }
    else if (res2 == 'detected2') 
    {
        sound2.play();
        // alert("Fall detected in frame 2");
        document.getElementById("frame").innerHTML = "Frame 2"
        openPopup();
        window.location.href = "http://127.0.0.1:5000/home?flag2=display";
    } 
    else{

    }   
    

    function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function demo() {
        await sleep(10000);
    }


</script>
</body>
</html>
