.nav{
  height: 10vh;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 70px;
}

.sidebar a {
  padding: 3% 12px 8% 5%;
  text-decoration: none;
  font-size: 27px;
  color: #a8a8a8;
  display: block;
  transition: 0.3s ease-in;
}

.sidebar a:hover {
  color: #f1f1f1;
  margin-bottom: 7px;
  text-decoration: underline white 2px;
}
.sidebar a .active {
  color: #f1f1f1;
  margin-bottom: 7px;
  text-decoration: underline white 2px;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 46px;
  margin-left: 50px;
}

.openbtn {
  font-size: 25px;
  cursor: pointer;
  background-color: rgb(120, 56, 56);
  color: white;
  padding: 8px 15px;
  border-radius: 7px;
  border: none;
  /* border: 3px rgba(255, 255, 255, 0.8) solid; */
}

.openbtn:hover {
  background-color: rgb(77, 31, 31);
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.logo{
  float: right;
}
.logo img{
  height: 90px;
  width: auto;
  border-radius: 20px;
}
